*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --text-font: 'Mulish', sans-serif;

  --white: #ffffff;
  --light-gray: #f9f4fb;
  --accent-color: #b52184;
  --text-base-color: #312d64;
  --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

body{
  background: var(--light-gray);
  font-family: var(--text-font);
}

header{
  padding: 0 3.4rem 9.3rem 3.2rem;
  width: 100%;
  display: grid;
  place-items: center;
  height: auto;
}

header img {
  width: 100%;

  animation-name: topDown;
  animation-delay: 200ms;
  animation-duration: 700ms;
}

.titulo {
  animation-name: downTop;
  animation-delay: 200ms;
  animation-duration: 700ms;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);

  width: 100%;
  text-align: center;
  margin: 2rem 0 0.5rem;
}

p {
  font-size: 2.0rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--text-base-color);
  text-align: center;
  margin-bottom: 3.5rem;
}

.arrow {
  width: 5.8rem;
  height: 10.5rem;
  border: 4px solid var(--accent-color);
  border-radius: 76rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: filter 300ms;
}

.arrow img {
  width: 3rem;
}

.arrow:hover{
  filter: brightness(0.7);
}

section{
  background: var(--gradient-background);
  padding: 5.3rem 3.9rem;
  display: grid;
  gap: 5rem;
}

.card {
  background: var(--white);
  padding: 2.2rem;
  border-radius: 2rem;

  animation-name: topDown;
  animation-delay: 200ms;
  animation-duration: 700ms;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1) ;
    transition-duration: 700ms;
}

.card img {
  width: 8rem;
  margin-bottom: 3.3rem;

  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card img:hover {
  animation-play-state: paused;
}

.card h2 {
  font-size: 2.9rem;
  line-height: 3.6rem;
  font-weight: 900;
  color: var(--accent-color);
  margin-bottom: 2rem;
} 

.card p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--text-base-color);
  text-align: left;
  width: 26.5rem;
  display: block;
  width: 100%;
}

#my-form {
  padding: 7.8rem 3.9rem 6.5rem;
}
fieldset{
  border: none;
}

legend {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  margin-bottom: 4rem;
}

.input-wrapper{
  margin-bottom: 2.4rem;
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.input-icon i {
  font-size: 20px;
  color: var(--accent-color);
}


input, textarea{
  width: 100%;
  border: 0.15rem solid var(--text-base-color);
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.6rem;
  color: var(--text-base-color);
  font-weight: 600;
  font-size: 1.6rem;
}

input::placeholder, textarea::placeholder{
  color: var(--text-base-color);
  font-weight: 600;
  font-size: 1.6rem;
}

input::placeholder {
  padding-left: 3rem;
}

button {
  background: var(--gradient-background);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 1rem 1.6rem;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: filter 200ms;
  border: none;
}

button:hover {
  filter: brightness(0.9);
}

footer {
  background: var(--gradient-background);
  padding:  1.6rem 
}

footer p{
  color: var(--white);
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-align: center;
}

/* KEYFRAMES DAS ANIMAÇÕES */

@keyframes topDown {
        0% {
            opacity: 0;
            transform: translateY(-15px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

@keyframes downTop {
        0% {
            opacity: 0;
            transform: translateY(+15px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


@media (min-width: 1200px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 3.9rem 10.3rem;
    max-height:  83.6rem;
  }

  .titulo {
    margin-top: 15.2rem;
  }

  h1{
    font-size: 5.2rem;
    line-height: 7.3rem;
    margin: 0 0 0.8rem;
  }

  .titulo p {
    font-size: 3.1rem;
    line-height: 4rem;
    margin-bottom: 17.9rem;
    letter-spacing:.05rem;
  }

  .arrow{
    margin: 0;
    justify-self: flex-end;
}

section{
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 6.4rem 11.1rem 8rem;
}

.card{
  border-radius: 2.4rem;
}

.card img{
  width: 9.7rem;
  margin-bottom: 4rem;
}

#my-form{
  background: url(./img/image\ 11976.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
  input, textarea{
  width: 50%;

}
}
